@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-black transition-colors duration-300;
  caret-color: transparent;
}

input,
textarea {
  caret-color: black;
}

.dark body {
  @apply bg-slate-900 text-white;
}

/* Accessibility */
body.contrast {
  background: black !important;
  color: white !important;
}

body.grayscale {
  filter: grayscale(100%);
}

body.dyslexia {
  font-family: Arial, Verdana, sans-serif;
}

body.reduce-motion * {
  animation: none !important;
  transition: none !important;
}
